In [1]:
import numpy as np

In [2]:
import pandas as pd

In [3]:
df_csv = pd.read_csv("In_situMeasurementforTraining_201712_1.csv")

In [4]:
df_csv.head()

   xid  yid  date_id  hour  wind
0    1    1        1     3  12.8
1    1    2        1     3  12.8
2    1    3        1     3  12.6
3    1    4        1     3  12.1
4    1    5        1     3  11.6

In [5]:
df_csv.describe()

                xid           yid    date_id          hour          wind
count  4.152744e+06  4.152744e+06  4152744.0  4.152744e+06  4.152744e+06
mean   2.745000e+02  2.110000e+02        1.0  1.150000e+01  1.151254e+01
std    1.581937e+02  1.215319e+02        0.0  5.188128e+00  4.850973e+00
min    1.000000e+00  1.000000e+00        1.0  3.000000e+00  0.000000e+00
25%    1.377500e+02  1.060000e+02        1.0  7.000000e+00  8.000000e+00
50%    2.745000e+02  2.110000e+02        1.0  1.150000e+01  1.110000e+01
75%    4.112500e+02  3.160000e+02        1.0  1.600000e+01  1.470000e+01
max    5.480000e+02  4.210000e+02        1.0  2.000000e+01  2.650000e+01

In [6]:
df_csv_list = []
for i in range(3,19):
    df_csv_list.append(df_csv[df_csv.hour == i])
for i in range(len(df_csv_list)):
    df_csv_list[i].drop(['hour','date_id'],axis =1)

In [7]:
import seaborn as sns

In [8]:
from matplotlib import pyplot as plt

for i in range(len(df_csv_list)):
    df_ = df_csv_list[i].pivot(index= 'yid', columns = 'xid', values = 'wind')
    sns.heatmap(df_, cbar = False)
    plt.savefig(str(i) + '.png')